@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Ryan's Vehicle Registration Site</h1>
    <p>This site allows users to Register vehicles to drivers as well as allowing the user to Create, Read, Update and delete driver and vehicle info.</p>
</div>
